.project{
    position: relative;
}

.project-desc{
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.project-inner{
    /* background-color: #fff; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 20%;
    /* gap: 50%; */
    gap: 5%;
}

.project-inner a{
    text-decoration: none;
}

.project-inner .card img{
    width: 100%;

}

@media (max-width:1167px){
    .card{
        width: 15rem !important;
    }

    .project-inner{
        left: 23%;
    }
}
@media (max-width:955px){
    .card{
        width: 13rem !important;
    }

    .project-inner{
        left: 17%;
    }
}
@media (max-width:845px){
    .card{
        width: 11rem !important;
    }

    .project-inner{
        left: 12%;
    }
}
@media (max-width:675px){
    .card{
        width: 9rem !important;
    }

    .project-inner{
        left: 8%;
    }
}
@media (max-width:537px){
    .card{
        width: 8rem !important;
    }

    .project-inner{
        left: 14%;
        gap: 1%;
    }
}
@media (max-width:464px){
    .card{
        width: 7rem !important;
    }

    .project-inner{
        left: 5%;
        gap: 1%;
    }
}
@media (max-width:399px){
   
    .project-inner{
        left: 0%;
        gap: 1%;
    }
}