.projectspage img{
    width: 40%;
    border-radius: 25px;
}

.projectspage .project-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-descraption{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    gap: 5%;
}

.project-descraption p{
    width: 50vw;
    margin-top: 5%;
}